$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #25CBD3;
$primarWithOpacity: #25CBD31f;
$primary3: #3BD42D;
$primary4:#F0F5FF;

$greyColor: #7c7786;
$grey1: #4D4C4D;

$error: #D44231;

$desktopBreakPoint: 992px;